<html>
  <body>
    <% content_for :main_content do %>
      <div class="sub-main">
        <div class="card" id="main-text-container">
          <div class="card-header">
            <h4>Legal disclosure</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              <p>
              Web App written by and responsible for this website in accordance with § 5 Telemediengesetz and § 55 Staatsvertrag für Rundfunk und Telemedien:
              </p>
              <p>
                Susann Wicke und Kai Müller<br>
                Hüfferstr. 1, 48149 Münster<br>
                Telefon: +49 251 83-21645<br>
                E-Mail: susann.wicke@hu-berlin.de; kaimueller@uni-muenster.de
              </p>
              <p>
              Co-author and developer:
              </p>
              <p>
              Lara Kösters<br>
              Hüfferstr. 1, 48149 Münster<br>
              Telefon: +49 251 83-21099<br>
              E-Mail: lara.koesters@hu-berlin.de
              </p>
              <p>
                Images by:
                <br>
                <small>(As long as not stated otherwise)</small>
              </p>
              <p>
                Svenja Nötzold<br>
                Hüfferstr. 1, 48149 Münster<br>
                Telefon: +49 251 83-21099<br>
                E-Mail: svenja.noetzold@uni-muenster.de
              </p>
              <p>
              Organisation
              </p>
              <p>
              Evolution und Biodiversität der Pflanzen<br>
              Institute for Evolution and Biodiversity<br>
              Westfälische Wilhelms-Universität Münster<br>
              (Statutory body and an institution of the state of North Rhine-Westphalia) Hüfferstraße 1<br>
              48149 Münster<br>
              Germany
              </p>
              <p>
              Tax ID number: DE 126118759
              </p>
              <p>
              Inspecting authority
              </p>
              <p>
              Ministry for innovation, science and research of North Rhine-Westphalia<br>
              (Ministerium für Innovation, Wissenschaft und Forschung des Landes Nordrhein-Westfalen)<br>
              Völklinger Straße 49<br>
              40221 Düsseldorf<br>
              Germany
              </p>
            </p>
          </div>
        </div>
      </div>
  <% end %>
  </body>
</html>