// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// WARPP

p, li {
  // max-width: 85ch;
}

figure, img {
  float: right;

  &.warpp-icon {
    width: 25%;
  }

  &#fig-1 {
    width: 40%;
  }

  &#origin-parasitism {
    width: 100%;
  }
}

figure {
  margin-left: 15px;

  img {
    margin-bottom: 10px;
  }

  border: #cfcfcf solid 1px;
  background: #ededed;
  padding: 5px 5px 5px 10px;
}

.card-footer.about-footer {
  display: block !important;
}

ul.references {
  list-style: none;
  padding: 0;
  text-indent: -20px; /* key property */
  margin-left: 20px; /* key property */
}
