<head>

</head>
<body>
<%= content_for :main_content do %>
  <div class="sub-main">
    <%= link_to 'Back', new_blast_job_path %>

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5>The WARPP BLAST-database</h5>
      </div>
      <div class="card-body">
        <p class="tool-description">
          Our custom WARPP-database contains data on the following species:

          <ul>
            <li>Aeginetia indica</li>
            <li>Alectra orobanchoides</li>
            <li>Aphyllon californicum</li>
            <li>Aphyllon epigalium</li>
            <li>Aphyllon fasciculatum</li>
            <li>Aphyllon purpureum</li>
            <li>Aphyllon uniflorum</li>
            <li>Aureolaria virginica</li>
            <li>Balanophora laxiflora</li>
            <li>Balanophora reflexa</li>
            <li>Boulardia latisquama</li>
            <li>Buchnera americana</li>
            <li>Cassytha capillaris</li>
            <li>Cassytha filiformis</li>
            <li>Castilleja paramensis</li>
            <li>Cistanche deserticola</li>
            <li>Cistanche phelypaea</li>
            <li>Cistanthe longiscapa</li>
            <li>Conopholis americana</li>
            <li>Cuscuta australis</li>
            <li>Cuscuta campestris</li>
            <li>Cuscuta exaltata</li>
            <li>Cuscuta gronovii</li>
            <li>Cuscuta obtusiflora</li>
            <li>Cuscuta pentagona</li>
            <li>Cuscuta reflexa</li>
            <li>Cynomorium coccineum</li>
            <li>Cytinus hypocistis</li>
            <li>Dendrotrophe varians</li>
            <li>Epifagus virginiana</li>
            <li>Euphrasia minima</li>
            <li>Euphrasia petiolaris</li>
            <li>Hydnora visseri</li>
            <li>Kopsiopsis hookeri</li>
            <li>Lathraea clandestina</li>
            <li>Lathraea squamaria</li>
            <li>Lindenbergia philippensis</li>
            <li>Macrosolen cochinchinensis</li>
            <li>Melampyrum pratense</li>
            <li>Neobartsia inaequalis</li>
            <li>Orobanche austrohispanica</li>
            <li>Orobanche cernua</li>
            <li>Orobanche crenata</li>
            <li>Orobanche cumana</li>
            <li>Orobanche densiflora</li>
            <li>Orobanche gracilis</li>
            <li>Orobanche minor</li>
            <li>Orobanche pancicii</li>
            <li>Orobanche rapumgenistae</li>
            <li>Pedicularis cheilanthifolia</li>
            <li>Pedicularis hallaisanensis</li>
            <li>Pedicularis ishidoyana</li>
            <li>Phelipanche aegyptiaca</li>
            <li>Phelipanche lavandulacea</li>
            <li>Phelipanche purpurea</li>
            <li>Phelipanche ramosa</li>
            <li>Pholisma arenarium</li>
            <li>PhtheirospermumJaponicum</li>
            <li>Pilostyles aethiopica</li>
            <li>Pilostyles hamiltonii</li>
            <li>Rehmannia glutinosa</li>
            <li>Rhinanthus serotinus</li>
            <li>Schoepfia jasminodora</li>
            <li>Schwalbea americana</li>
            <li>Scurrula parasitica</li>
            <li>Striga asiatica</li>
            <li>Striga aspera</li>
            <li>Striga forbesii</li>
            <li>Striga gesnerioides</li>
            <li>Striga hermonthica</li>
            <li>Taxillus chinensis</li>
            <li>Taxillus sutchuenensis</li>
            <li>Tozzia alpina</li>
            <li>Triphysaria versicolor</li>
            <li>Viscum album</li>
            <li>Viscum coloratum</li>
            <li>Viscum crassulae</li>
            <li>Viscum minimum</li>
            <li>Ximenia americana</li>
          </ul>
        </p>
      </div>
    </div>

  </div>
<% end %>
</body>
