@font-face {
  font-family: 'AshburyLig';
  src: font-url('AshburyLig.otf') format('truetype');
}

@font-face {
  font-family: 'Objet_Light_Italic';
  src: font-url('Objet_Light_Italic.otf') format('truetype');
}

@font-face {
  font-family: 'Objet_Light';
  src: font-url('Objet_Light.otf') format('truetype');
}