<table class="table table-hover dataTable" id="ppg-queries-datatable" data-source="<%= datatable_ppg_queries_path(format: :json) %>">
  <thead>
  <tr>
    <th>Query</th>
    <th>Functional assignment</th>
    <th>Median functionality score</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>