<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear <%= @user.user_name %>,<br>
      your job <%= @job_title %> has finished.
      Please visit <%= @url %> to view your results.
    </p>
    <p>Have a great day!</p>
  </body>
</html>