<html>
  <body>
  <% content_for :main_content do %>
  <div class="documentation-wrapper" id="warpp-documentation">
    <div class="flex-navigation">
      <div class="chapter-navigation"></div>
    </div>
    <div class="documentation">
      <h1>WARPP Manual</h1>
      <h2>Web Application for the Research of Parasitic Plants</h2>
      <%= raw CommonMarker.render_html(File.read(@manual), [:DEFAULT]) %>
    </div>
  </div>
  <% end %>
  </body>
</html>