$clr-white: #ffffff;
$clr-off-white: #f5f5f5;
$clr-base-grey: #939393;
$clr-dark-grey: #343a40;
$clr-yellowish-green: #9ea369;
$clr-unreliable: #a393bf;
$clr-reliable: #7a306c;
$clr-annual: #b1d1c8;
$clr-biennial: #617c75;
$clr-perennial: #2c5147;
$clr-autotroph: #48b1f2;
$clr-facultative: #176893;
$clr-obligate: #38596b;
$clr-holoparasitic: #022347;
$clr-standard-border: #e0e0e0;