@font-face {
  font-family: 'AshburyLig';
  src: url("../fonts/AshburyLig.otf") format('opentype');
}

@font-face {
  font-family: 'Objet_Light_Italic';
  src: url("../fonts/Objet_Light_Italic.otf") format('opentype');
}

@font-face {
  font-family: 'Objet_Light';
  src: url("../fonts/Objet_Light.otf") format('opentype');
}