<% flash.each do |name, msg| %>
  <div class='alert alert-<%= name %>' role="alert">
    <%= msg %>
    <% if name == "success" %>
      <i class="fa fa-hand-spock"></i>
    <% end %>
  </div>
<% end %>